<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.userservice.succ.dao.SuccUserMapper">
    <resultMap id="BaseResultMap" type="com.userservice.succ.entity.SuccUser">
        <id column="userid" jdbcType="INTEGER" property="userId" />
        <result column="username" jdbcType="VARCHAR" property="userName" />
        <result column="userdepartment" jdbcType="VARCHAR" property="userDepartment" />
        <result column="userrole" jdbcType="VARCHAR" property="userRole" />
        <result column="userpassword" jdbcType="VARCHAR" property="userPassword" />
        <result column="useremail" jdbcType="VARCHAR" property="userEmail" />
        <result column="userphone" jdbcType="VARCHAR" property="userPhone" />
        <result column="useraddress" jdbcType="VARCHAR" property="userAddress" />
        <result column="usersex" jdbcType="VARCHAR" property="userSex" />
        <result column="userbirthday" jdbcType="VARCHAR" property="userBirthday" />
        <result column="userstatus" jdbcType="VARCHAR" property="userStatus" />
        <result column="usercreateddate" jdbcType="DATE" property="userCreatedDate" />
        <result column="userupdateddate" jdbcType="DATE" property="userUpdatedDate" />
    </resultMap>
    <sql id="Base_Column_List">
        userid, username, userdepartment, userrole, userpassword, useremail,
        userphone, useraddress, usersex, userbirthday, userstatus, usercreateddate, userupdateddate
    </sql>

    <select id="selectUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from succ_user
        where userid = #{userId,jdbcType=INTEGER}
    </select>

    <insert id="addUser" parameterType="com.userservice.succ.entity.SuccUser">
        insert into succUser (userid, username, userdepartment, userrole, userpassword,
                               useremail, userphone, useraddress, usersex, userbirthday,
                              userstatus, usercreatedDate, userupdatedDate)
        values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userDepartment,jdbcType=VARCHAR},
                #{userRole,jdbcType=VARCHAR}, #{userPassword,jdbcType=TINYINT}, #{userEmail,jdbcType=TINYINT},
                #{userPhone,jdbcType=TINYINT}, #{userAddress,jdbcType=TINYINT}, #{userSex,jdbcType=TINYINT},
                #{userBirthday,jdbcType=TINYINT}, #{userStatus,jdbcType=TINYINT}, #{userCreatedDate,jdbcType=DATE},
                #{userUpdatedDate,jdbcType=DATE})
    </insert>

    <select id="login"  parameterType="java.lang.String" resultType="string">
        select distinct 1
        from succ_user
        where userphone = #{userPhone,jdbcType=VARCHAR} and userpassword = #{userPassword,jdbcType=TINYINT} and userstatus = 1
    </select>

    <select id="selectUserByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from succ_user
        where userphone = #{userPhone,jdbcType=TINYINT} order by userphone limit 1,1
    </select>


</mapper>